{% extends "base.html" %}

{% block content %}

{# build projects gallery #}
{% set projects = get_section(path="projects/_index.md") %}

<div class="gallery">

  {% set count = 0 %}

  {% for proj in projects.pages %}
  {% set asset = proj.assets | first %}

  {% if asset %}

  {% if count % 3 == 0 %}
    {% if count > 0 %}
      </div>
    {% endif %}
    <div class="columns is-vcentered">
  {% endif %}

  {% set_global count = count + 1 %}

  <div class="column p-4">
    <figure class="image is-square cover" onmouseover="toggleFigureCaption(this)" onmouseout="toggleFigureCaption(this)">
      <a href="{{ proj.path }}">
        <img src="{{ get_url(path=proj.assets | first | safe) }}"">
        <figcaption class="is-size-small is-hidden-desktop">{{ proj.title }}</figcaption>
        <figcaption class="is-size-small is-hidden-touch" style="visibility: hidden">{{ proj.title }}</figcaption>
      </a>
    </figure>
  </div>

  {% endif %}
  {% endfor %}

  {# Pad remaining columns if necessary #}
  {% set remainder = count % 3 %}
  {% for idx in range(start=remainder, end=remainder + 1) %}
  <div class="column"></div>
  {% endfor %}

</div>

<script type='text/javascript'>
  function toggleFigureCaption(figure) {
      var caption = figure.firstElementChild.lastElementChild;
      if (caption.style.visibility == 'hidden') {
          caption.style.visibility = 'visible';
      } else {
          caption.style.visibility = 'hidden';
      }
  }
</script>

{% endblock content %}
