{% extends "base.html" %}

{% block content %}

{# build projects gallery #}
{% set projects = get_section(path="projects/_index.md") %}

<div class="gallery index">

  {% set count = 0 %}
  {% set max_cols = 3 %}

  {% for proj in projects.pages %}
  {% set asset = proj.assets | first %}

  {% if asset %}

  {% if count % max_cols == 0 %}
    <div class="columns is-vcentered is-mobile">
  {% endif %}

  {% set_global count = count + 1 %}

  <div class="column">
    <a href="{{ proj.path }}">
      <figure class="image cover is-square" onmouseover="showFigCaption(this)" onmouseout="hideFigCaption(this)">
        {% set asset = proj.assets | first | safe %}
        <img class="radius-normal" src="{{ get_url(path=asset) }}" alt="{{ asset | split(pat='/') | last }}">
      </figure>
      <figcaption class="is-size-small">{{ proj.title }}</figcaption>
    </a>
  </div>

  {% if count % max_cols == 0 %}
  </div> <!-- columns -->
  {% endif %}

  {% endif %}
  {% endfor %}

  {# Pad remaining columns #}
  {% set remainder = max_cols - count % max_cols %}
  {% if remainder > 0 %}
    {% for idx in range(end=remainder) %}
      <div class="column"></div>
    {% endfor %}
    </div> <!-- columns -->
  {% endif %}

</div> <!-- gallery -->

<script>
  function showFigCaption(figure) {
      figure.nextElementSibling.classList.add('is-hovered');
  }

  function hideFigCaption(figure) {
      figure.nextElementSibling.classList.remove('is-hovered');
  }
</script>

{% endblock content %}
