{% extends "base.html" %}

{% block content %}

{# build projects gallery #}
{% set projects = get_section(path="projects/_index.md") %}

<div class="gallery">

  {% set count = 0 %}
  {% set max_cols = 3 %}

  {% for proj in projects.pages %}
  {% set asset = proj.assets | first %}

  {% if asset %}

  {% if count % max_cols == 0 %}
    {% if count > 0 %}
      </div>
    {% endif %}
    <div class="columns is-vcentered">
  {% endif %}

  {% set_global count = count + 1 %}

  <div class="column p-5">
    <a href="{{ proj.path }}">
      <figure class="image cover is-square" onmouseover="toggleFigCaption(this)" onmouseout="toggleFigCaption(this)">
        <img class="radius-normal" src="{{ get_url(path=proj.assets | first | safe) }}">
      </figure>
      <figcaption class="is-size-small is-hidden-touch" style="visibility: hidden">{{ proj.title }}</figcaption>
      <figcaption class="is-size-small is-hidden-desktop">{{ proj.title }}</figcaption>
    </a>
  </div>

  {% endif %}
  {% endfor %}

  {# Pad remaining columns #}
  {% set remainder = max_cols - count % max_cols %}
  {% for idx in range(end=remainder) %}
    <div class="column"></div>
  {% endfor %}

</div>

<script type='text/javascript'>
  function toggleFigCaption(figure) {
      var caption = figure.nextElementSibling;
      if (caption.style.visibility == 'hidden') {
          caption.style.visibility = 'visible';
      } else {
          caption.style.visibility = 'hidden';
      }
  }
</script>

{% endblock content %}
