{% block lightbox %}

  <div class="lightbox modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="columns is-vcentered is-mobile">
        <div class="column is-1">
          <div class="button-prev is-size-3 is-unselectable has-text-centered" aria-label="previous">&#8592;</div>
        </div>
        <div class="column">
          <p class="image is-3by2">
            <img src="" alt=""/>
          </p>
        </div>
        <div class="column is-1">
          <div class="button-next is-size-3 is-unselectable has-text-centered" aria-label="next">&#8594;</div>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <script src="/js/lightbox.js"></script>

  <script>
    window.addEventListener('load', e => {
        let gallery = document.querySelector(".gallery");
        let lightbox = new Lightbox(gallery);
    });
    
  </script>

{% endblock lightbox %}
