{% block lightbox %}

  <div class="lightbox modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="columns is-vcentered is-mobile is-variable is-1-touch mx-1">
        <div class="column is-narrow">
          <div class="button-prev is-size-3-touch is-size-1-desktop is-unselectable has-text-centered has-text-weight-light" aria-label="previous">&lsaquo;</div>
        </div>
        <div class="column">
          <div class="image">
            <img src="" alt=""/>
          </div>
        </div>
        <div class="column is-narrow">
          <div class="button-next is-size-3-touch is-size-1-desktop is-unselectable has-text-centered has-text-weight-light" aria-label="next">&rsaquo;</div>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <script src="/js/lightbox.js"></script>

  <script>
    window.addEventListener('load', e => {
        let gallery = document.querySelector(".gallery");
        let lightbox = new Lightbox(gallery);
    });
  </script>

{% endblock lightbox %}
